.about {
  max-width: 700px;
  margin: 2rem auto;
  text-align: center;
  line-height: 1.8;
}

.about p {
  margin-bottom: 1rem;
  color: #444;
}

.about h2 {
  color: #b2872e;
}

.about .signature {
  margin-top: 1.25rem;
  color: #6b6b6b;
  font-style: italic;
}
