.navbar {
  background-color: #d4af37;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #d4af37;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar h2 {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  font-weight: 500;
  transition: color 0.3s;
  color: #ffffff;
}

.navbar a:hover {
  color: #b5942b;
}
